projects/agency/outreach-system/workflow-2-opener-generation.json
{
  "name": "Workflow 2 — Opener Generation (Daily)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "4791ac30-0a7d-48b9-a56d-d3d986242f34",
      "name": "Daily 9am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pGeA4YzPMmyVTPlIBqrmLLClEZSM6wSmZfZpZKfiRqU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Outreach Tracker",
          "mode": "name"
        },
        "filtersUI": {
          "values": []
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A3:R"
            }
          }
        }
      },
      "id": "fb922ef7-7621-4765-8f89-06eb4d7612fb",
      "name": "Read Lead Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [224, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DkURUdX5Xh0Qeyj",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\nconst newLeads = allRows.filter(function(row) {\n  const status = (row.json['status'] || '').trim();\n  return status === 'New Lead';\n});\nconsole.log('New leads to process: ' + newLeads.length + ' of ' + allRows.length + ' total rows');\nconst cleanLeads = newLeads.map(function(item) {\n  const cleaned = {};\n  const keys = Object.keys(item.json);\n  for (let i = 0; i < keys.length; i++) {\n    if (keys[i] !== 'json') {\n      cleaned[keys[i]] = item.json[keys[i]];\n    }\n  }\n  return { json: cleaned };\n});\nreturn cleanLeads;"
      },
      "id": "9255d5bb-8abd-4d35-a7e5-ecdfa43be562",
      "name": "Filter New Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 0]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst output = [];\nfor (let i = 0; i < allItems.length; i++) {\n  const lead = allItems[i].json;\n  const bio = (lead['Notes'] || '').trim();\n  const businessName = (lead['Business Name'] || lead['Instagram Handle'] || 'there').trim();\n  const industry = (lead['Type'] || 'business').trim();\n  const location = (lead['Location'] || 'London').trim();\n  const followers = lead['Followers'] || 'unknown';\n  const prompt = 'You are writing a cold Instagram DM opener for a sales outreach campaign.\\nLead details:\\n- Business Name: ' + businessName + '\\n- Industry: ' + industry + '\\n- Location: ' + location + '\\n- Bio: ' + (bio || 'No bio available') + '\\n- Followers: ' + followers + '\\n\\nWrite ONE short opener DM using this exact formula:\\n\"Hey [Business Name] - saw [something specific from their bio or profile]. [One genuine observation about it]. Would this be the best place to ask you a quick question?\"\\n\\nRules:\\n- Reference something REAL and SPECIFIC from the bio\\n- The observation must be genuine\\n- Under 3 lines total\\n- NEVER mention AI, automation, agencies, or technology\\n- NEVER use generic compliments (no \"Love what you're doing\", \"Amazing\", \"Great work\", etc)\\n- NEVER include a compliment of any kind — no \"love that\", \"great that\", \"impressive that\", \"rare to see\", \"good to see\". State what you noticed, not how you feel about it.\\n- End with ONE question only\\n- If no useful bio info: output exactly \"REVIEW NEEDED - add profile detail before sending\"\\n\\nOutput the DM text only. No explanation. No surrounding quotes.';\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.anthropic.com/v1/messages',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: {\n      model: 'claude-haiku-4-5',\n      max_tokens: 150,\n      messages: [{ role: 'user', content: prompt }]\n    },\n    json: true\n  });\n  const opener = response.content[0].text.trim();\noutput.push({\n  json: {\n    row_number: lead['row_number'],\n    business_name: businessName,\n    status: 'Opener Generated',\n    opener: opener,\n    generated_at: new Date().toISOString().split('T')[0]\n  }\n});\n}\nreturn output;"
      },
      "id": "0d5a035c-870e-472a-8f1a-4570c3883044",
      "name": "Generate Opener via Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 304]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pGeA4YzPMmyVTPlIBqrmLLClEZSM6wSmZfZpZKfiRqU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Outreach Tracker",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "row_number": 0
          },
          "matchingColumns": ["row_number"],
          "schema": [
            {"id": "Business Name", "displayName": "Business Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Type", "displayName": "Type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Location", "displayName": "Location", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Instagram Handle", "displayName": "Instagram Handle", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Followers", "displayName": "Followers", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Last Post", "displayName": "Last Post", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Problem Identified", "displayName": "Problem Identified", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "First Contact Date", "displayName": "First Contact Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Channel", "displayName": "Channel", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Message Sent", "displayName": "Message Sent", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Step", "displayName": "Step", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Diagnostic answer", "displayName": "Diagnostic answer", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Direct Contact Obtain", "displayName": "Direct Contact Obtain", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Response", "displayName": "Response", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Follow Up Date", "displayName": "Follow Up Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Notes", "displayName": "Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "link", "displayName": "link", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "opener", "displayName": "opener", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "generated_at", "displayName": "generated_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "business_name", "displayName": "business_name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "row_number", "displayName": "row_number", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true, "readOnly": true, "removed": false}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 3,
              "firstDataRow": 4
            }
          }
        }
      },
      "id": "07e93d9e-e221-40ab-8605-b288a2981843",
      "name": "Update Lead Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [448, 304],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DkURUdX5Xh0Qeyj",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst openerLines = items.map(function(item, i) {\n  const handle = item.json.instagram_handle || 'unknown';\n  const name = (item.json.business_name || handle).trim();\n  const type = item.json.industry || '';\n  const opener = item.json.opener || '';\n  const needsReview = opener.startsWith('REVIEW NEEDED');\n  const flag = needsReview ? ' [NEEDS REVIEW]' : '';\n  return (i + 1) + '. ' + name + ' (' + handle + ') - ' + type + flag + '\\n   ' + opener;\n});\n\nconst reviewCount = items.filter(function(i) {\n  return (i.json.opener || '').startsWith('REVIEW NEEDED');\n}).length;\nconst readyCount = items.length - reviewCount;\nconst date = new Date().toISOString().split('T')[0];\nconst subject = 'Zizi - ' + items.length + ' opener' + (items.length !== 1 ? 's' : '') + ' ready (' + date + ')';\nconst body = 'Workflow 2 - Opener Generation Complete\\nDate: ' + date + '\\nTotal processed: ' + items.length + '\\nReady to send: ' + readyCount + '\\nNeeds manual review: ' + reviewCount + '\\n---\\n' + openerLines.join('\\n\\n') + '\\n---\\nAll openers written to Google Sheet under \"opener\" column.\\nStatus updated to \"Opener Generated\".\\nZizi: review each opener, personalise if needed, then send from the lead\\'s profile.\\nFlag anything that looks wrong before sending.';\n\nreturn [{\n  json: {\n    subject: subject,\n    body: body,\n    count: items.length,\n    ready: readyCount,\n    review: reviewCount\n  }\n}];"
      },
      "id": "dd422f5d-bfd6-4e8b-a0f1-a52fe85b615a",
      "name": "Build Email Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [736, 304]
    },
    {
      "parameters": {
        "sendTo": "hadiphotographylondon@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "0db18a63-abdf-47e7-8bb9-39639d3509c2",
      "name": "Send Email to Hadi",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [944, 304],
      "webhookId": "3655b7f6-0f6a-4c89-a2a1-0080eae09df1",
      "credentials": {
        "gmailOAuth2": {
          "id": "xWk2aUg55zZdSPSw",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [656, 0],
      "id": "ffce0844-0016-4a7c-b6ad-49c8a643f90f",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 9am Trigger": {
      "main": [[{"node": "Read Lead Sheet", "type": "main", "index": 0}]]
    },
    "Read Lead Sheet": {
      "main": [[{"node": "Filter New Leads", "type": "main", "index": 0}]]
    },
    "Filter New Leads": {
      "main": [[{"node": "Limit", "type": "main", "index": 0}]]
    },
    "Limit": {
      "main": [[{"node": "Generate Opener via Claude", "type": "main", "index": 0}]]
    },
    "Generate Opener via Claude": {
      "main": [[{"node": "Update Lead Row", "type": "main", "index": 0}]]
    },
    "Update Lead Row": {
      "main": [[{"node": "Build Email Summary", "type": "main", "index": 0}]]
    },
    "Build Email Summary": {
      "main": [[{"node": "Send Email to Hadi", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "919b19ff-db07-43b9-bbab-1a77d7b044db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1417e0b59edc3afb3d5838cbf6a079bdbac13828695e425b5a8adce64da3515b",
    "lastUpdated": "2026-04-08",
    "note": "API key stored in N8N credentials — not in this file. Replace YOUR_ANTHROPIC_API_KEY in Generate Opener node when reimporting.",
    "changelog": [
      "2026-04-08: Live export from N8N — this is the authoritative version as of 8 April 2026",
      "2026-04-08: Limit node added (max 20 items) between Filter New Leads and Generate Opener",
      "2026-04-08: Sheet name updated to 'Outreach Tracker' (was 'Sheet1')",
      "2026-04-08: Filter simplified to status check only — handles lowercase 'status' column",
      "2026-04-08: status field changed to 'Opener Generated' to prevent reprocessing",
      "2026-04-08: Header Row 3, First Data Row 4 set in Update Lead Row",
      "2026-04-08: opener and generated_at added as explicit columns in sheet schema",
      "2026-04-08: API key redacted for GitHub — stored in N8N credentials only"
    ]
  },
  "tags": [
    {"updatedAt": "2026-04-06T15:28:31.550Z", "createdAt": "2026-04-06T15:28:31.550Z", "id": "O4h8xcWZSCJKn5gN", "name": "Outreach"},
    {"updatedAt": "2026-04-06T15:28:31.555Z", "createdAt": "2026-04-06T15:28:31.555Z", "id": "gk8k2V9gg0Obsqfc", "name": "Agency"}
  ]
}
